a {
    cursor: pointer;
    text-decoration: none;
}
.table-container {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th,
.table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}
.table th {
    background-color: #f5f5f5;
    font-weight: bold;
}
.table tbody tr:hover {
    background-color: #f5f5f5;
}
.fees {
    font-size: 0.5em;
    overflow-y: scroll;
}
.heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.filter {
    display: flex;
    gap: 0.5em;
}
.filter input {
    padding: 0 10px;
    background-color: rgb(232, 225, 225);
    border: none;
    border-radius: 10px;
    
}
.filter input:active {
    border: none;
}
.filter button {
    background-color: rgb(41, 41, 176);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.layout {
    display: flex;
    gap: 1em;
}
.image {
    width: 40%;
    height: 400px;
    background-color: rgb(168, 166, 166);
    border-radius: 10px;
}
.detail {
    width: 60%;
}    
.detail span {
    display: flex;
    align-items: center;
}
.detail span p:first-child {
    width: 150px;
    font-size: 0.8em;
    color: rgb(48, 48, 48);
}
.sub-menu {
    font-size: 0.8em;
    padding-left: 30px;
}
.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.form input, select {
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    height: 2em;
    width: 95%;
}
.form label {
    margin-bottom: 10px;
}
.form p {
    margin-bottom: 0px;
}
.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.primary {
    background-color: blueviolet;
    float: right;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 20px;
}
.blue-background {
    background-color: #1976D2;
    color: white;
}
.full-height {
    height: 100%;
}
.top-30 {
    margin-top: 30px;
}
.btn {
    display: flex;
    gap: 1em;
}
.btn button {
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #1976D2;
    color: #fff;
}
.btn button:first-child {
    background-color: orange;
    color: #fff;
}
.row-data {
    border-bottom: 1px solid #00000036;
}

.logout {
    margin-top: 5em;
    padding: 10px;
    border: none;
    color: #1976D2;
    background-color: white;
    width: 100%;
}